@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Cedarville+Cursive&family=Montserrat:wght@300;400;500;700&family=Sansita+Swashed:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
}

/* <----------------------------------- HEADER STYLING ----------------------------------------> */

.header{
    height: 95vh;
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)),url('../images/backgroundportfolio.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.navbar{
    padding: 0.5rem;
    /* position: sticky;
    z-index: 1;
    top: 0px; */
}

.navbar .logo{
    font-family: 'Sansita Swashed', cursive;
    float: left;
    color: gold;
    margin-bottom: 0.5em;
    letter-spacing: 0.15rem;
}

.navbar .logo span{
    color: blue;
}

.navbar::after{
    content: '';
    display: block;
    clear: both;
}

.navbar a{
    padding-bottom: 0.3rem;
}

.navbar .nav-items{
    float: right;
    margin-top: 1rem;
}

.navbar .nav-item{
    display: inline-block;
    padding: 1rem;
}

.navbar a:link, .navbar a:visited{
    color: #f4f4f4;
}

.navbar a:hover{
    border-bottom: 1px solid white;
}

ul li{
    list-style: none;
}

a{
    font-size: 1.6rem;
    text-decoration: none;
}

p, li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.10em;
}

h1, h2, h3{
    margin-bottom: 0.5rem;
    letter-spacing: 0.15rem;
    font-weight: 500;
}

.header-content h1{
    font-weight: 700;
}

.header-content{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2));
}

/* <---------------------------------------UTILITY CLASSES--------------------------------------------> */

.container{
    max-width: 1200px;
    width: 70%;
    margin: 0 auto;
}

.lg-heading{
    font-size: 3.5rem;
}

.md-heading{
    font-size: 2.2rem;
}

.bg-dark{
    background-color: #263238;
}

.text-orange{
    color: orangered;
}

.text-light{
    color: #f4f4f4;
}

.text-black{
    color: #333333;
}

.text-gray{
    color: #555555;
}

.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    margin: 0.5em 0;
}

.btn-primary{
    background-color: #fff;
    border-radius: 10em;
}

.btn-primary:hover{
    background-color: #ddd;
    color: black;
}

.btn-secondary{
    border: 2px solid #e63946;
    border-radius: 1.5em;
    color: gold;
    background: black;
}

.btn-secondary:hover{
    background-color: #fcf3f2;
    color: red;
    border: 2px solid black;
}

.topic-heading{
    border-bottom: 6px solid #638936;
}

/*  <-------------------------------- WORKS STYLING ---------------------------------> */

.showcase{
    background: #ddd;
    padding: 10rem 0;   
}

.row{
    height: 350px;
    background: white;
    box-shadow: 0px 0px 20px 0px #aaa;
}

.row::after{
    content: '';
    display: block;
    clear: both;
}

.row1{
    margin-bottom: 10rem;
}

.row1 .img-box, .row2 .text-box{
    float: left;
    width: 50%;
}

.row2 .img-box, .row1 .text-box{
    float: right;
    width: 50%;
}

.row .img-box{
    height: 100%;
}

.row .text-box{
    height: 100%;
    padding: 1.5rem;
    text-align: center;
}

.row .img-box img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* <-----------------------FOOTER STYLING------------------------------> */

footer{
    color: white;
    background-color: #263238;
    text-align: center;
    padding: 0.2rem;
    font-weight: 300;
}

.social-media a i{
    margin: 2rem;
    transition: all 0.3s linear;
}

a:hover i{
    transform: scale(1.5);
}

.fa-linkedin,.fa-github{
    color: white;
}

.fa-instagram{
    color: #e84118;
}

/* <-------------------------------------------ABOUT STYLING-----------------------------------------> */

.about{
    padding: 5rem 0;
}

.details .left{
    float: left;
    width: 50%;
}

.details .right{
    float: right;
    width: 50%;
}

.details::after{
    content: '';
    display: block;
    clear: both;
}

.details li::before{
    content: '\2713';
    color: blue;
    font-weight: bold;
    padding-right: 1rem;
}

.details{
    text-align: center;
    margin-top: 2rem;
    font-weight: 700;
}

/* <--------------------------------------contact form-------------------------------------> */

.contact-form{
    padding: 5rem 0;
    background: #f7f7f7;
}

.form-wrapper::after{
    content: '';
    display: block;
    clear: both;
}

.form-wrapper .address{
    background: white;
    width: 49%;
    float: left;
    padding: 1rem;
    height: 760px;
    box-shadow: 0px 0px 20px 0px #aaa;
}

.form-wrapper .address-group i{
    color: black;
    transition: all 0.3s linear;
}

.form-wrapper .address-group i:hover{
    transform: scale(1.5);
}

.form-wrapper .address i{
    display: inline-block;
    margin-right: 1rem;
}

.form-wrapper .address h2{
    display: inline-block;
}

.form-wrapper .address img{
    max-width: 100%;
    min-height: 40rem;
    object-fit: cover;
    object-position: center;
}

.form-wrapper .address-group{
    margin-bottom: 3rem;
}

/* <---------------------------------------Form styling---------------------------------------> */

.form-wrapper .form{
    font-size: 1.6rem;
    width: 49%;
    float: right;
    height: 760px;
    background: white;
    box-shadow: 0px 0px 20px 0px #aaa;
    padding: 1rem;
}

.form h1::after{
    content: '';
    display: block;
    border: 4px solid #ee4758;
    width: 100%;
}

.form-wrapper .form label{
    display: block;
}

.form-wrapper .form input{
    padding: 0.5rem;
    width: 100%;
}

.form-wrapper .form .form-group{
    margin-bottom: 1.2rem;
}

.form-wrapper .form label::after{
    content: ' *';
    color: #e63946;
}

.form-wrapper .form textarea{
    width: 100%;
    height: 300px;
    padding: 1rem;
}

.form-btn{
    display: block;
    margin: 0 auto;
    padding: 0.5em 3em;
    font-size: 1.8rem;
    background: #e63946;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 40px;
}

/* <----------------------------------------media queries------------------------------------> */

@media (max-width: 500px){
    
    html{
        font-size: 50%;
    }

    .navbar .nav-items, .navbar .logo{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }

    .row{
        height: auto;
        width: 100%;
    }

    .row .img-box, .row .text-box{
        float: none;
        width: 100%;
        text-align: center;
    }

    .form-wrapper .address{
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
    }

    .form-wrapper .form{
        float: none;
        width: 100%;
        height: auto;
    }
}

@media (min-width: 501px) and (max-width: 768px){
    
    html{
        font-size: 50%;
    }

    p{
        font-size: 1.8rem;
    }

    .navbar .nav-items, .navbar .logo{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }

    .row{
        height: auto;
        width: 100%;
    }

    .row .img-box, .row .text-box{
        float: none;
        width: 100%;
        text-align: center;
    }

    .form-wrapper .address{
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
    }

    .form-wrapper .form{
        float: none;
        width: 100%;
        height: auto;
    }
}

@media(orientation:landscape) and (max-height: 500px){

    .header{
        height: 90vmax;
    }

}